<%= render 'posts/modal' %>

<div class="container">
  <div class="row">
    <%= render 'pages/index/side_menu' %>
    <h1> Show Side Menu Content Here</h1>

    <%= render 'pages/index/main_content' %>
    <h1> Show Main Content Here</h1>
  </div><!-- row -->
</div><!-- container -->